{% extends "base.html" %}

{% block title %}{{ block.super }}: {{ post.title }}{% endblock title %}

{% block body.content %}
    <h1>{{ object.title }}</h1>

    <p>
        <small>Written by: {{ object.created_by }}</small>
    </p>
    <p>
        <small>
            Created at: {{ object.created_at }},
            Updated at: {{ object.updated_at }}
        </small>
    </p>

    <p>{{ object.content|linebreaksbr }}</p>

    <a href="{% url 'blog:index' %}" title="List of posts">Return to list of posts</a>

    <hr>
    <h2>Comments</h2>

    {% if user.is_authenticated %}
    <p><a href="{% url 'blog:comment' object.slug object.pk %}">Add your comment</a></p>
    {% endif %}

    {% for comment in comments %}
        <p>
            <small>
                Written by: {{ comment.created_by }},
                Created at: {{ comment.created_at }}
            </small>
            <br>{{ comment.comment|linebreaksbr }}
        </p>    
    {% empty %}
    <p>Could not find any comments.</p>
    {% endfor %}
{% endblock body.content %}
