<h1>Posts</h1>

{% for post in object_list %}
<h2>
    <a href="{% url 'blog:detail' post.slug post.pk %}" title="Show {{ post.title }}">{{ post.title }}</a>
</h2>
<small>
    Created at: {{ post.created_at }},
    Updated at: {{ post.updated_at }}
</small>
<p>{{ post.content|linebreaksbr|truncatewords_html:15 }}</p>
{% empty %}
<p>Could not find any posts.</p>
{% endfor %}

{% if object_list|length > 1 %}
<h1>Stats</h1>
<p>
    Newest post:
    <a href="{% url 'blog:detail' object_list.0.slug object_list.0.pk %}" 
            title="Show {{ object_list.0.title }}">
        {{ object_list.0.title }}
    </a>
</p>
<p>
    Oldest post:
    <a href="{% url 'blog:detail' object_list.reverse.0.slug object_list.reverse.0.pk %}" 
            title="Show {{ object_list.reverse.0.title }}">
        {{ object_list.reverse.0.title }}
    </a>
</p>
{% endif %}
