<!doctype html>
<html>
<head>
    <title>{% block title %}DjBlog{% endblock %}</title>
    <meta name="description" content="{% block description %}Blog written in Django{% endblock description %}">
    <meta name="keywords" content="{% block keywords %}tutorial django blog{% endblock keywords %}">
</head>
<body>
    {% block body %}
        <p>
            <h1><a href="{% url 'blog:index' %}" title="My blog">My blog</a></h1>
            <hr>
        </p>
        {% block body.content %}
        {% endblock body.content %}
    {% endblock body %}
</body>
</html>
