<!doctype html>
<html>
<head>
    <title>{% block title %}DjBlog{% endblock %}</title>
    <meta name="description" content="Blog written in Django">
    <meta name="keywords" content="tutorial django blog">
</head>
<body>
    <p style="float: right">
    {% if user.is_authenticated %}
        Logged in as: {{ user.username }}
        | <a href="{% url 'logout' %}" title="Log out">Log out</a>
    {% else %}
        <a href="{% url 'login' %}" title="Login">Login</a>
        | <a href="{% url 'registration:register' %}" title="Register">Register</a>
    {% endif %}
    </p>
    {% block body %}
        <p>
            <h1><a href="{% url 'blog:index' %}" title="My blog">My blog</a></h1>
            <hr>
        </p>
        {% block body.content %}
        {% endblock body.content %}
    {% endblock body %}
    {% block body.js %}
        {% if messages %}
        <script>
            alert('{% for message in messages %}{{ message }}\n{% endfor %}');
        </script>
        {% endif %}
    {% endblock body.js %}
</body>
</html>
